<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="Conexion" value="DATA SOURCE=DESKTOP-1V6MR4L\SQLEXPRESS; INITIAL CATALOG=ALLARIA_ARGENCONS_PRUEBA; USER ID=Frankklin; PASSWORD=frankklin;"/>
    
    <add key="RutaJsonFormaDePago" value="C:\Users\mati\Documents\ProyectoCasinoII\ImportadorTxt\ArchivosNuevosCasino\FormasDePago.json"/>
    <add key="RutaJsonProvincias" value="C:\Users\mati\Documents\ProyectoCasinoII\ImportadorTxt\ArchivosNuevosCasino\Provincias.json"/>
    
    <add key="CodTransporte" value="01"/>
    <add key="CodVendedor" value="01"/>
    <add key="CodZona" value="01"/>
    <add key="CondVenta" value="1"/>
    <add key="NroLista" value="1"/>
    <add key="TipoAsiento" value=""/>
    <add key="ID_ASIENTO_MODELO_GV_FAC" value=""/>
    <add key="ID_ASIENTO_MODELO_GV_NC" value=""/>
    <add key="CodAlicuo_iva" value=""/>
    <add key="cod_contracuenta_FAC" value="20"/>
    <add key="cod_contracuenta_NC" value="2"/>
    <add key="Talonario" value="1"/>
  </appSettings>
</configuration>